.header{
    padding:16px 0 24px 0;
    @media screen and (max-width:767px){
        padding:0 0 24px 0;
    }
}

.header-top{
    @include flex;
    font-size:$fontsize - 2px;
    &-menu{
        flex-grow:1;
        @media screen and (max-width:767px){
            display:none;
        }

        &__list{
            @include flex;
            list-style:none;
            &-item a{
                color:$black;
                font-family:$montserrat;
            }
        }
    }

    &.wrapper{
        @media screen and (max-width:767px){
            padding: 0;
            border-bottom:1px solid $light-grey;
        }
    }
}

.header-middle{
    @include flex;
    font-size:$fontsize - 2px;
    padding: 16px 0;
    & .vert-line{
        background:$light-grey;
        @media screen and (max-width:767px){
            display: none;
        }
    }
    & .logo {
        @media screen and (max-width:767px){
            width: 101px;
        }
        & svg {
            @media screen and (max-width:767px){
                width: 100%;
            }
        }
    }
}

.header-bottom{
    @include flex;
    font-size:$fontsize - 2px;
    @media screen and (max-width:767px){
        flex-direction: column;
    }
    &__menu{
        @include flex;
        padding: 0 16px;
        background:$yellow;
        border-radius: 8px;
        cursor:pointer;
        &-name{
            text-transform: uppercase;
            color:$black;
            font-weight: bold;
            width: 75%;
        }
    }
    & .vert-line{
        background:#fff;
    }

    &__search{
        @include flex();
        
        & label{
            @include flex();
            width: 100%;
            border: 1px solid #DCD9E3;
            border-right: none;
            padding: 10px 16px;
            border-radius: 8px 0 0 8px;
        }
        &-field{
            width: 100%;
            margin:  0 0 0 16px;
            border:none;
        }

        & input[type="submit"]{
            background: $yellow;
            color:$black;
            border:none;
            padding:10px 40px;
            border-radius: 0 8px 8px 0 ;
            font-size: $fontsize;
        }
    }
    .col-md-3{
        padding-left:0;
        @media screen and (max-width:767px){
            order:1;
            padding-right:0;
        }
    }
    .col-md-9{
        padding-right:0;
        @media screen and (max-width:767px){
            order:0;
            padding-left:0;
            margin-bottom: 16px;
        }
    }
}

.city-and-menu{
    @include flex;
    flex-grow:.4;
}

.city-pick{
    @include flex;
    margin:0 24px 0 0;
    &__icon{
        margin: 0 14px 0 0;
        @media screen and (max-width:767px){
            display:none;
        }
    }
    &__label{
        color:$grey;
        @media screen and (max-width:767px){
            display:none;
        }
    }
    &__city-name{
        color:$blue;
    }
}

.login{
    @include flex;
    position: relative;
    @media screen and (max-width:767px){
        padding:0 16px 0 0;
        display: none;
    }
    &-icon{
        margin: 0 14px 0 0;
    }
    &-link{
        color:$black;
        font-weight: 500;
    }
}

.working-hours{
    @include flex('space-between','flex-start');
    color:$black;
    flex-grow: .2;
    position: relative;
    top: 5px;
    @media screen and (max-width:767px){
        display:none;
    }
    &__icon{
        background:$blue;
        width: 24px;
        height: 24px;
        text-align: center;
        padding-top: 1px;
        border-radius:50%;
    }
    &__phone{
        & a{
            color:$black;
            font-size:$fontsize + 4px;
            font-weight: bold;
            font-family: $montserrat;
            position: relative;
            top:-5px;
        }
    }
    &__hours{
        font-weight: bold;
    }
    &__callback{
        color:$blue;
        position: relative;
        top:-5px;
    }
}

.header-controls{
    @include flex;
    @media screen and (max-width:767px){
        display:none;
    }
    & a{
        display:block;
        padding: 0 16px;
        color:$black;
        &:last-child{
            padding-right: 0;
        }
    }
    &__icon{
        margin: auto;
        background:$blue;
        position:relative;
        width: 24px;
        height: 24px;
        text-align: center;
        padding-top: 1px;
        border-radius:50%;
        &-count{
            position: absolute;
            font-size: $fontsize / 2;
            color:#fff;
            width: 16px;
            height: 16px;
            top:-3px;
            right: -5px;
            background:$red;
            border:2px solid #fff;
            border-radius: 50%;
}
    }
}

.shop-description{
    color:$grey;
    @media screen and (max-width:767px){
        font-size:$fontsize - 6px;
    }
}

.vert-line{
    height: 48px;
    width: 1px;
}

.menu-mobile{
    &__icon{
        display:none;
        @media screen and (max-width:767px){
            display:block;
        }
    }
}

.catalog-menu{
    background:#fff;
    padding:48px;
    border-radius: 8px;
    display:none;
    position: absolute;
    filter:drop-shadow(0px 16px 50px rgba(0, 31, 100, 0.2));
    z-index: 11;
    left: 0;
    &__heading{
        font-family: $montserrat;
        font-weight: bold;
        font-size: $fontsize;
        line-height: 20px;
        color: $black;
    }

    &__list{
        padding: 0 0 56px 8px;
        list-style: none;

        & a{
            font-family: $montserrat;
            font-size: $fontsize - 2px;
        }
    }
}

.login-panel{
    padding:8px;
    background:#fff;
    border-radius: 8px;
    display:none;
    position: absolute;
    z-index: 11;
    width: 275px;
    right: 0;
    top: 36px;
    filter:drop-shadow(0px 16px 50px rgba(0, 31, 100, 0.2));
        &__login{
        background:$yellow;
        width: 100%;
        border:none;
        border-radius: 6px;
        color:$black;
        font-weight: 500;
        font-family: $montserrat;
        height: 40px;
        margin-bottom: 8px;
    }

    &__register{
        border: 2px solid $blue;
        border-radius: 6px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;
        color:$blue;
        height: 40px;
        font-weight: 500;
        font-family: $montserrat;
        background:#fff;
        width: 100%;
    }

    & p{
        text-align: center;
        font-family: $montserrat;
        font-weight: 500;
        font-size: $fontsize - 2px;
        color: $black;
        margin: 16px 0;
    }
}

.social-enter{
    @include flex;
}

.header-mobile-menu{
    display: none;
    background:#fff;
    width: 100%;
    position: absolute;
    top:0;
    z-index: 99;
    padding: 48px 24px 24px;
    filter: drop-shadow(0px 20px 60px rgba(152, 162, 185, 0.3));

    & .menu-close{
        position: absolute;
        top:16px;
        right:16px;
    }

    & .login{
        display: flex;
        justify-content: flex-start;
        margin-bottom: 32px;
    }

    & .user{
        display: block;

        &-block{
            @include flex(flex-start);
        }

        &-menu{
            display: block;
            position: relative;
            background:transparent;
            top:0;
            right: 0;
            padding: 0;
            border-bottom:1px solid $light-grey;

            &__item{
                border:none;

                & a{
                    padding: 0;
                    font-family:$montserrat;
                }
            }
        }
    }

    & .header-top-menu{
        display: block;

        &__list{
            flex-direction:column;
            align-items:flex-start;
            border-bottom:1px solid $light-grey;
            margin-bottom: 24px;

            &-item{
                margin-bottom: 24px;
            }
        }
    }

    & .header-controls{
        display: block;
        border-bottom:1px solid $light-grey;
        margin-bottom: 24px;

        &__icon{
            margin:0 16px 24px 0;
        }

        & a{
            @include flex(flex-start,flex-start);
            padding: 0;
        }
    }

    & .working-hours{
        display: block;

        &__block{
            @include flex(flex-start, flex-start);

            & figure{
                margin-right: 16px;
            }
        }
    }
}