@import 'config';
@import 'header';
@import 'footer';
@import 'catalog';
@import 'catalog-category';
@import 'catalog-subcategory';
@import 'product';
@import 'cart';
@import 'profile';

// CUSTOM USER STYLES & IMPORTS
body{
    background: #fff;
}
.wrapper{
    width: 100%;
    max-width: 1170px;
    margin:0 auto;
    position: relative;
    
    @media screen and (max-width:767px){
        padding: 0 16px;
    }
}

figure,
ul,
li,
p,
label{
    margin:0;
    padding:0;
}

.banner{
    background:$grey;
    border-radius: 8px;
    height: 220px;
}

main{
    padding: 0 0 24px 0;
}

.catalog{
    padding:24px 0;
    & .row{
        @media screen and (max-width:767px){
            overflow-x: auto;
            flex-wrap: nowrap;
        }
    }
}

.category{
    width: 16.66%;
    padding: 0 10px;
    @media screen and (max-width:767px){
        width: 100%;
        min-width: 150px;
    }
    &-heading{
        @include flex;
        padding:12px 0 0 0;
        & svg{
            min-width: 12px;
        }
    }
    & .name{
        font-family: $montserrat;
        font-size: $fontsize - 2px;
        font-weight: 500;
        white-space: pre;
    }

    & .line{
        width: 100%;
        height: 1px;
        background: $light-grey;
    }

    &-image{
        & img{
            width: 100%;
            border-radius: 8px;
        }
    }
}

.bestsellers{
    padding-top: 80px;
    &-heading{
        @include flex;
        padding-bottom: 32px;
        & p{
            font-family: $montserrat;
            text-transform: uppercase;
            font-size:$fontsize + 8px;
            font-weight: bold;
        }
    }

    &__arrows{
        @include flex;
        height: 32px;
    }

    &__arrow{
        background:#fff;
        border: 1px solid $light-grey;
        color:$blue;
        font-weight: bold;
        width: 32px;
        text-align: center;
        cursor: pointer;
    }

    &-card{
        padding:0 20px;
    }

    &__image img{
        width: 90%;
    }

    &__plate{
        display: inline-block;
        padding: 0 4px;
        border-radius: 4px;
        height: 20px;
        line-height: 20px;
        color:#fff;
        width: fit-content;
        font-size:$fontsize - 4px;
        &_blue{
            background: $blue;
        }
        &_red{
            background: $red;
        }
    }

    &__name{
        padding:16px 0;
        font-weight: 500;
        line-height: 24px;
        min-height: 104px;
    }

    &__price-block{
        @include flex;
        & button{
            background:$yellow;
            color:$black;
            border:none;
            padding: 4px 14px;
            border-radius: 6px;
            -webkit-border-radius: 6px;
            -moz-border-radius: 6px;
            -ms-border-radius: 6px;
            -o-border-radius: 6px;
        }
    }

    & .line{
        height: 1px;
        background: $light-grey;
        margin: 16px 0;
    }

    &__price{
        font-size:$fontsize + 2px;
        font-weight: bold;
    }

    &__controls{
        @include flex;
        & p{
            color:$grey;
            font-size:$fontsize - 2px;
        }

        &-icons{
            @include flex;
            & figure:not(:last-child){
                margin-right:16px;
            }
        }
    }

}

.arrow{
    &_left{
        border-right: none;
        border-radius: 6px 0 0 6px;
        -webkit-border-radius: 6px 0 0 6px;
        -moz-border-radius: 6px 0 0 6px;
        -ms-border-radius: 6px 0 0 6px;
        -o-border-radius: 6px 0 0 6px;
    }
    &_right{
        border-radius: 0 6px 6px 0;
        -webkit-border-radius: 0 6px 6px 0;
        -moz-border-radius: 0 6px 6px 0;
        -ms-border-radius: 0 6px 6px 0;
        -o-border-radius: 0 6px 6px 0;
    }
}

.article{
    padding:36px 0;
    &__heading{
        font-family: $montserrat;
        text-transform: uppercase;
        font-size:$fontsize + 8px;
        font-weight: bold;
        margin-bottom:36px;
    }
    &__image{
        width: 474px;
        height: 290px;
        background:$grey;
        border-radius: 8px;
        float:left;
        margin: 0 24px 24px 0;
        @media screen and (max-width:767px){
            width: 100%;
        }
    }
}

.manufacturers{
    background: rgba(172, 167, 182, .05);
    padding:61px 0 46px 0;
    &-heading{
        @include flex;
        padding-bottom: 32px;
        & p{
            font-family: $montserrat;
            text-transform: uppercase;
            font-size:$fontsize + 8px;
            font-weight: bold;
        }
    }

    &__arrows{
        @include flex;
        height: 32px;
    }

    &__arrow{
        background:#fff;
        border: 1px solid $light-grey;
        color:$blue;
        font-weight: bold;
        width: 32px;
        text-align: center;
        cursor: pointer;
    }

    &__image{
        background:#fff;
        width: 175px;
        height: 175px;
        border-radius: 8px;
        @include flex('center', 'center');
        & img{
            width: 90%;
        }
    }
}

.advantages{
    padding:61px 0 46px 0;
    &-heading{
        padding-bottom: 32px;
        & p{
            font-family: $montserrat;
            text-transform: uppercase;
            font-size:$fontsize + 8px;
            font-weight: bold;
        }
    }

    &__row{
        @include flex;
        @media screen and (max-width:767px){
            overflow-x: auto;
        }
        overflow-x: auto;
        &-item{
            position:relative;
        }
        & figcaption{
            position:absolute;
            top: 43px;
            width: 50%;
            left: 82px;
            color:#fff;
            line-height: 19px;
            font-weight: 700;
        }
    }
}

.breadcrumbs{
    & .breadcrumb{
        font-size:$fontsize - 2px;;
        line-height: 17px;
        color: $blue;

        &-divider{
            color:$yellow;
        }

        &_current{
            font-size:$fontsize - 2px;;
            line-height: 17px;
            color: $grey;
        }
    }
}

.page-heading{
    padding: 36px 0;
    font-family: $montserrat;
    font-weight: bold;
    font-size: $fontsize * 2;
    line-height: 39px;
    color: $black;
}

.product-card{
    border-radius: 8px;
    padding:20px;

    &:hover{
        box-shadow: 0px 4px 20px rgba(205, 202, 237, 0.25);
    }

    &__image img{
        width: 90%;
    }

    &__plate{
        display: inline-block;
        padding: 0 4px;
        border-radius: 4px;
        height: 20px;
        line-height: 20px;
        color:#fff;
        width: fit-content;
        font-size:$fontsize - 4px;
        &_blue{
            background: $blue;
        }
        &_red{
            background: $red;
        }
    }

    &__name{
        padding:16px 0;
        font-weight: 500;
        line-height: 24px;
        min-height: 104px;
    }

    &__price-block{
        @include flex;
        & button{
            background:$yellow;
            color:$black;
            border:none;
            padding: 4px 14px;
            border-radius: 6px;
            -webkit-border-radius: 6px;
            -moz-border-radius: 6px;
            -ms-border-radius: 6px;
            -o-border-radius: 6px;
        }
    }

    & .line{
        height: 1px;
        background: $light-grey;
        margin: 16px 0;
    }

    &__price{
        font-size:$fontsize + 2px;
        font-weight: bold;
    }

    &__controls{
        @include flex;
        & p{
            color:$grey;
            font-size:$fontsize - 2px;
        }

        &-icons{
            @include flex;
            & figure:not(:last-child){
                margin-right:16px;
            }
        }
    }
}

.product-card.list-display{
    @include flex();
    border-bottom: 1px solid $light-grey;
    border-radius: 0;
    &:hover{
        box-shadow:none!important;
    }

    & .line{
        display: none;
    }

    & .product-card{
        &__controls{
            display: none;
        }
        
        &__image{
            max-width: 330px;
        }
        &__price-block{
            flex-direction: column;
            align-self: flex-end;
            flex-basis: 250px;
            position: relative;
            bottom: 25px;
        }
        &__list-controls{
            @include flex('flex-start');
            
            & .product-card__controls-compare{
                margin-right: 16px;
            }
        }
    }
    

    & .product-card__price-consult{
        display:block;
        margin-top: 50px;
    }
}

.product-card__list-controls,
.product-card__price-consult{
    display:none;
font-weight: 500;
font-size: 14px;
color: $grey;
}

.pagination-block{
    @include flex;
    padding:64px 0 90px;
}


.show-more{
    color:$blue;
}

.pagination{
    @include flex;
    border: 1px solid $light-grey;
    border-radius: 6px;

    &-item{
        width: 30px;
        height: 30px;
        text-align: center;
        cursor: pointer;
        color:$blue;
    }

    &-curr{
        background:$yellow;
    }

    &-prev{
        border-right: 1px solid $light-grey;
    }

    &-next{
        border-left: 1px solid $light-grey;
    }
}

.category-sorting{
    @include flex;
    padding-bottom: 32px;

    &__select{
        & span{
            color: $grey;
        }

        & select{
            border:none;
            color: $blue;

            &:focus{
                outline: none;
            }
        }
    }

    &__display{
        @include flex;

        @media screen and (max-width:767px) {
            display: none;
        }

        &-grid{
            margin-right: 16px;
        }
    }

    &__mobile-filters{
        display: none;
        @media screen and (max-width:767px) {
            display: block;
        }
    }
}

.category-filter{
    padding:24px;
    margin-top: 24px;
    border-radius: 8px;
    background: #FBFAFC;

    @media screen and (max-width:767px) {
        display: none;
        position:absolute;
        top:0;
        left: 0;
    }

    &__close{
        position: absolute;
        top:10px;
        right:10px;
        display: none;

        @media screen and (max-width:767px) {
            display: block;
        }
    }

    & .line{
        width: 100%;
        height: 1px;
        background:$light-grey;
        margin:32px 0;
    }

    & button{
        width: 100%;
        border-radius: 6px;
        height: 40px;
        margin-bottom: 16px;
    }

    &__reset{
        background:#fff;
        border: 2px solid $blue;
        color:$blue;
        font-family: $montserrat;
        font-weight: 500;

    }

    &__submit{
        background:$yellow;
        border: none;
        color:$black;
        font-family: $montserrat;
        font-weight: 500;
    }
}

.filter{
    margin-bottom: 24px;
    &-heading{
        font-family: $montserrat;
        font-weight: bold;
        color: $black;
        margin-bottom: 24px;
    }
}

.price-filter{
    &__inputs{
        @include flex;

        & input{
            width: 75px;
            margin-bottom: 24px;
            border: 1px solid #EAE8F0;
            border-radius: 4px;
        }
    }

    &__slider{

        &-base{
            height: 6px;
            border-radius: 3px;
            background: #DCD9E3;
            border: none!important;
        }

        &-range{
            background: $yellow;
        }

        &-handle{
            width: 16px!important;
            height: 16px!important;
            background:$blue!important;
            border: none!important;
            border-radius:50%;
            -webkit-border-radius:50%;
            -moz-border-radius:50%;
            -ms-border-radius:50%;
            -o-border-radius:50%;
            &:focus{
                outline: none;
            }
        }
    }
}

.color-filter{

    &__colors{
        @include flex;
        flex-wrap: wrap;
        padding-right: 35px;

        & label{
            margin: 0 16px 16px 0;
        }

        & input[type="checkbox"]{
            display:none;
        }
    }

    &__color{
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background: $yellow;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;

        &_active{
            border:4px solid $blue!important;
        }

        &_light-yellow{
            background: #F4E1AC;
        }
        &_white{
            background: #fff;
            border:1px solid $light-grey;
        }
        &_yellow{
            background: $yellow;
        }
        &_green{
            background: #146622;
        }
        &_brown{
            background: #331101;
        }
        &_red{
            background: #AF0801;
        }
        &_orange{
            background: #FD8D00;
        }
        &_grey{
            background: #B9B9B9;
        }
        &_blue{
            background: #2951AC;
        }
        &_black{
            background: #080808;
        }
        &_light-brown{
            background: #804B36;
        }
        &_dark-grey{
            background: #616161;
        }
    }
}

.type-filter{
    & label{
        width: 100%;
        @include flex('flex-start', 'flex-start');
    }

    & input[type="checkbox"]{
        display: none;
    }

    &__checkbox{
        width: 16px;
        height: 16px;
        border: 2px solid $blue;
        border-radius: 2px;
        margin-right: 12px;
        position: relative;
        top:4px;

        &_active{
            background: $blue;
        }

        & svg{
            position: relative;
            top:-7px;
            left:1px;
        }
    }
}

.surface-filter{
    & label{
        width: 100%;
        @include flex('flex-start', 'flex-start');
    }

    & input[type="checkbox"]{
        display: none;
    }

    &__checkbox{
        width: 16px;
        height: 16px;
        border: 2px solid $blue;
        border-radius: 2px;
        margin-right: 12px;
        position: relative;
        top:4px;

        &_active{
            background: $blue;
        }

        & svg{
            position: relative;
            top:-7px;
            left:1px;
        }
    }
}
.coverage-filter{
    & label{
        width: 100%;
        @include flex('flex-start', 'flex-start');
    }

    & input[type="checkbox"]{
        display: none;
    }

    &__checkbox{
        width: 16px;
        height: 16px;
        border: 2px solid $blue;
        border-radius: 2px;
        margin-right: 12px;
        position: relative;
        top:4px;

        &_active{
            background: $blue;
        }

        & svg{
            position: relative;
            top:-7px;
            left:1px;
        }
    }
}
.facing-filter{
    & label{
        width: 100%;
        @include flex('flex-start', 'flex-start');
    }

    & input[type="checkbox"]{
        display: none;
    }

    &__checkbox{
        width: 16px;
        height: 16px;
        border: 2px solid $blue;
        border-radius: 2px;
        margin-right: 12px;
        position: relative;
        top:4px;

        &_active{
            background: $blue;
        }

        & svg{
            position: relative;
            top:-7px;
            left:1px;
        }
    }
}